body 
  {
    font-family: Arial, sans-serif;
    background-color: darkmagenta;
  }

button[type="Button"] 
  {
    padding: 25px 60px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 250px;
    margin-right: 100px;  
    background: white;
    font-size:25px;
    font-weight:600;
  }
  