body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: blueviolet;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: seagreen;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: yellow;
    text-decoration: aqua;
    transition: color 0.2s ease;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav a:hover {
    color: black;
  }
  
  nav a:active {
    color: violet;
  }